<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }

  form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px;
  }

  label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
  }

  input {
      background-color: #c4bbbb;
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  .action-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px; 
  min-width: 100px; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
}
body {
      font-family: Arial, sans-serif;
      background-color: #c4bbbb;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }
  th{
      background-color: #d8cfe4;
  }
  button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  button:hover {
      background-color: #45a049;
  }
</style>
<div class="container">
    <h2 style="color: #9e1d1d; font-family: Arial, sans-serif; margin-top: 150px;">Modifier le Client</h2>
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" id="nom" [(ngModel)]="client.nom" name="nom" required>
          </div>
    <div class="form-group">
      <label for="prenom">Prénom:</label>
      <input type="text" class="form-control" id="prenom" [(ngModel)]="client.prenom" name="prenom" required>
    </div>
    <div class="form-group">
      <label for="adresse">Adresse:</label>
      <input type="text" class="form-control" id="adresse" [(ngModel)]="client.adresse" name="adresse" required>
    </div>
    <div class="custom-control custom-switch d-flex align-items-center">
      <label class="custom-control-label mr-2" for="actif">Actif</label>
      <input type="checkbox" class="custom-control-input" id="actif" [(ngModel)]="client.actif" name="actif">
    </div>
  
    <div class="form-group">
      <label for="tel">Téléphone:</label>
      <input type="text" class="form-control" id="tel" [(ngModel)]="client.tel" name="tel" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="client.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="codecl">Code Client:</label>
      <input type="text" class="form-control" id="codecl" [(ngModel)]="client.codecl" name="codecl" required>
    </div>
    <br/>
    <button type="submit"style="margin-right: 10px;   min-width: 100px; color: #fff;  background-color: #4caf50;">Enregistrer</button>
    <button (click)="goBack()" style="margin-top: 20px; min-width: 100px; color: #fff; background-color: #a04545;">Retour</button>
</form>
</div>