<!-- <style>
.image-above-navbar {
    text-align: center; 
    margin-bottom: 20px; 
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(72, 69, 247);margin-bottom: 10px; ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">
            <i class="fas fa-shopping-cart" style="color: rgb(247, 242, 242);"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" routerLink="home">Home</a>
                <a class="nav-link " routerLink="clients" href="clients" >Clients</a>
                <a class="nav-link " routerLink="produits" href="produits" >Product</a>
            </div>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
                <i class="fas fa-search"></i> 
            </button>
          </form>
    </div>
</nav>-->
  <div class="container indigo topLeftBorders">
    <a  routerLink="home">HOME</a>
    <a routerLink="clients" href="clients" >Clients</a>
    <a routerLink="produits" href="produits" >Produits</a>
    <a>ABOUT</a>
    <a>CONTACT</a>
  </div>
  