<!-- Button trigger modal -->
<button class="btn btn-default" (click)="openModal()">
    <i class="bi bi-info-square-fill"></i>
    </button>
    <!-- Modal -->
    <div class="modal" tabindex="-1"role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title">Détail Client</h4>
    
    <button type="button" class="btn btn-default" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
    
    </div>
    <div class="modal-body">
    <template *ngTemplateOutlet="cardClient"></template>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default"(click)="closeModal()" >Close</button>
    
    </div>
    
    </div>
    </div>
    </div>
    <!-- Card -->
    <ng-template #cardClient>
    <div class="card-body">  
    <p class="card-text">Nom : {{clients.nom}}</p>
    <h5 class="card-title"> Prenom : {{clients.prenom}}</h5>
    <h6 class="card-subtitle mb-2 text-muted"> Adresse : {{clients.adresse}} </h6>
    <h6 class="card-subtitle mb-2 text-muted"> Email : {{clients.email}} </h6>
    </div>
  
    </ng-template>